<%- include partials/header.js %>
    <h1 class="page-header"><%= title %></h1>
    <p class="col-md-8">My <%= title %> name is <%= name %>. My brother is 3 years older than me, As a young child I never played much with him because he is so much older than me, but if I have a question and need advice, he would always be the one I would go to. He is the one who would help me with homework, and he is the one who I would stay up until two in the morning talking to</p>
    </div>
    </body>

    </html>