<%- include partials/header.js %>
    <h1 class="page-header"><%= title %></h1>
    <p class="col-md-8">My <%= title %> name is <%= name %>. He is the Guardian of the Family and provide for the family. my father have a Business of Marbels and Granite which he is been doing this business for 20 years. Moreover, he is very loving in nature and also get angry when i do something wrong end of the day he is the most valuable person in this family tree.</p>
</div>
    </body>

    </html>