<%- include partials/header.js %>
    <h1 class="page-header"><%= title %></h1>
    <p class="col-md-8">My <%= title %> name is <%= name%>. She is most beautiful person in this world and also the smart one. My mom is very special to me because she always care about me and very supportive towards my every dicision. I feel like i am very lucky person in this world to have mom like her. </p>
    </div>
    </body>

    </html>