<%- include partials/header.js %>
    <h1 class="page-header"><%= title %></h1>
    <p class="col-md-8">I would Describe myself as a very determined and highly motivated person. I am really passionate about achieve something bigger in my life, I always had this feeling in me and also I want to be different from everybody which i hope will be one day.</p>
    </div>
    </body>

    </html>